extends layout

block content
  h1= title
  p Welcome to my first test using Express, MongoDB and Jade

  meta(name='viewport', content='width = device-width, initial-scale = 1, minimal-ui')

  // Wrapper
  #wrapper

    // USER INFO
    div.container
      #userInfo
        h2 User Info
        p
          strong Name:
          |  <span id='userInfoName'></span>
          br
          strong Age:
          |  <span id='userInfoAge'></span>
          br
          strong Gender:
          |  <span id='userInfoGender'></span>
          br
          strong Location:
          |  <span id='userInfoLocation'></span>
      // USER INFO

      // USER LIST
      h2 User List
    div.container
      #userList
        table
          thead
            th UserName
            th Email
            th Delete
            th Update
          tbody
      // /USER LIST

      // ADD USER
    div.container
      #addUserPanel
        h2 Add User
        #addUser
          fieldset
            input#inputUserName(type='text', placeholder='Username')
            input#inputUserEmail(type='text', placeholder='Email')
            input#inputUserFullname(type='text', placeholder='Full Name')
            input#inputUserAge(type='text', placeholder='Age')
            input#inputUserLocation(type='text', placeholder='Location')
            input#inputUserGender(type='text', placeholder='gender')
            button#btnAddUser Add User
      // ADD USER

      // UPDATE USER
    div.container
      #updateUserPanel
        h2 Update User
        #updateUser
          fieldset
            input#updateUserName(type='text', placeholder='Username',)
            input#updateUserEmail(type='text', placeholder='Email')
            br
            input#updateUserFullname(type='text', placeholder='Full Name')
            input#updateUserAge(type='text', placeholder='Age')
            br
            input#updateUserLocation(type='text', placeholder='Location')
            input#updateUserGender(type='text', placeholder='gender')
            br
            button#btnUpdateUser Update User
            button#btnCancelUpdateUser Cancel
      // UPDATE USER

  // WRAPPER
